*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(img/login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}

.login-header{
    text-align: center;
    margin: 20px 0 40px 0;
}

.login-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 1);
    outline: none;
    transition: 3s;
}

::placeholder{
    font-weight: 500;
    color: #222;
}

.input-field:focus{
    width: 105%;
}

.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.input-submit {
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .input-submit input[type=submit] {
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .input-submit input[type=submit]:hover {
    background: #000;
    transform: scale(1.03);
  }

.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-up-link a{
    color: #000;
    font-weight: 600;
}