*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 10vh;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    z-index: 1000;
}

header nav .logo img{
    width: 90px;
    cursor: pointer;
    margin: 0;
    display: flex;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

header nav ul li a::after{
    color: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    transition: 0.2s linear;
}

header nav ul li a:hover::after{
    width: 100%;
}

header nav ul li a:hover{
    color: #fac031;
}

header nav .cart {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
    margin: 25px 15px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

header nav .cart a {
    color: white;
    text-decoration: none;
}

header nav .cart a:visited {
    color: white;
}

.login-text {
    color: white;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none; 
    transition: color 0.3s;
}

.login-text:hover {
    color: #fac031; 
}


main {
    background-color: #f9e6c2;
    padding: 110px;
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.menu-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.menu-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.menu-item h2 {
    margin-bottom: 10px;
}

.menu-item button {
    background-color: #FF8C00;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-item button:hover {
    background-color: #FF6F00;
}