*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f9e6c2;
}

header{
    width: 100%;
    height: 16vh;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    z-index: 1000;
}

header nav .logo img{
    width: 90px;
    cursor: pointer;
    margin: 0;
    display: flex;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

header nav ul li a::after{
    color: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    transition: 0.2s linear;
}

header nav ul li a:hover::after{
    width: 100%;
}

header nav ul li a:hover{
    color: #fac031;
}

.modal {
    background-color: white;
    border-radius: 20px;
    padding: 60px;
    max-width: 800px;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 4.1);
}

.close-btn {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    margin: 0;
    text-align: center;
}

h2{
    margin: 0;
}

.details-transaksi {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
   
}

.total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.nominal {
    width: 100%;
    max-width: 400px;
    padding: 6px;
}

.label {
    display: block;
    color: #4a4a4a;
    font-size: 15px;
    margin-bottom: 7px;
}

.Total {
    background-color: #d3d3d3;
    text-align: center;
    padding: 9px;
    color: #4a4a4a;
    margin-bottom: 15px;
}

.uang {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.item {
    background-color: #e0e0e0;
    text-align: center;
    padding: 7px 15px;
    color: #4a4a4a;
}

.pemisah {
    border-top: 1px solid #e0e0e0;
    margin-bottom: 15px;
}

.button {
    width: 100%;
    background-color: #ff7f00;
    color: white;
    padding: 12px;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}