*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 16vh;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    z-index: 1000;
}

header nav .logo img{
    width: 90px;
    cursor: pointer;
    margin: 0;
    display: flex;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

header nav ul li a::after{
    color: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    transition: 0.2s linear;
}

header nav ul li a:hover::after{
    width: 100%;
}

header nav ul li a:hover{
    color: #fac031;
}

header nav .cart {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
    margin: 25px 15px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

header nav .cart a {
    color: white;
    text-decoration: none;
}

header nav .cart a:visited {
    color: white;
}
.cart {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}

.login-text {
    color: white;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none; 
    transition: color 0.3s;
}

/* 
header nav .cart a {
    color: white;
    text-decoration: none;
}

header nav .cart a:visited {
    color: white;
} */

.alert {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px 20px;
    margin: 20px;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    font-weight: bold;
}


.container {
    display: flex;
}
.sidebar {
    width: 25%;
    background-color: #ffe4e1;
    padding: 20px;
}
.sidebar input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
.sidebar button {
    position:static;
    right: 30px;
    top: 30px;
    background: none;
    border: none;
    cursor: pointer;
}
.sidebar button i {
    color: black;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    background-color: #ffb6c1;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
}

.main-content {
    background-color: #fff8dc;
    padding: 80px;
    width: 75%;
}

.main-content h1 {
    text-align: center;
    color: #5a2d2d;
}

.main-content img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.main-content .price {
    color: black;
    font-size: 24px;
}

.main-content .quantity {
    display: flex;
    align-items: center;
}

.main-content .quantity button {
    background-color: #f8f1e4;
    border: 1px solid #ccc;
    padding: 10px;
}

.main-content .quantity span {
    margin: 0 10px;
}

.main-content .add-to-cart {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}